Flask==3.1.1
joblib==1.5.1
matplotlib==3.10.3
mlflow==2.19.0
notebook==7.4.2
notebook_shim==0.2.4
numpy==2.2.6
pandas==2.2.3
pillow==11.2.1
scikit-learn==1.6.1
scipy==1.15.3
seaborn==0.13.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1744302253/work
waitress==3.0.2
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work